[Unit]
Description=GeoBreath 2.0 (Next.js)
After=network.target

[Service]
User=nuevoadmin
WorkingDirectory=/var/www/geobreath_react
ExecStart=/usr/bin/npm start -- -p 3001
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
